src/raspberry-pi/nodejs/flows.json
[{"id":"72061098.ed021","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46ce23de.28408c","type":"rpi-gpio in","z":"72061098.ed021","name":"","pin":"26","intype":"tri","debounce":"25","read":false,"x":110,"y":60,"wires":[["4c6f41c1.6b5ea"]]},{"id":"4c6f41c1.6b5ea","type":"debug","z":"72061098.ed021","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":60,"wires":[]},{"id":"a0c3b955.24f858","type":"rpi-gpio out","z":"72061098.ed021","name":"Engine 1 IN1","pin":"32","set":"","level":"0","freq":"","out":"out","x":380,"y":120,"wires":[]},{"id":"3396bbbf.40d3e4","type":"rpi-gpio out","z":"72061098.ed021","name":"Engine 1 IN2","pin":"33","set":"","level":"0","freq":"","out":"out","x":380,"y":200,"wires":[]},{"id":"bf936459.cccab8","type":"rpi-gpio out","z":"72061098.ed021","name":"Engine 1 Enable","pin":"31","set":"","level":"0","freq":"","out":"pwm","x":400,"y":300,"wires":[]},{"id":"56725db5.991694","type":"inject","z":"72061098.ed021","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":260,"wires":[["bf936459.cccab8"]]},{"id":"81aefc4.ef2aa","type":"inject","z":"72061098.ed021","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["3396bbbf.40d3e4"]]},{"id":"722df659.18a838","type":"inject","z":"72061098.ed021","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["a0c3b955.24f858"]]},{"id":"3423b49c.f4fc4c","type":"inject","z":"72061098.ed021","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":100,"wires":[["a0c3b955.24f858"]]},{"id":"b7355fe2.bf46f","type":"inject","z":"72061098.ed021","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["3396bbbf.40d3e4"]]},{"id":"1fee993a.d07927","type":"inject","z":"72061098.ed021","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":340,"wires":[["bf936459.cccab8"]]},{"id":"b3ef2036.b575e","type":"inject","z":"72061098.ed021","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["bf936459.cccab8"]]}]